<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Meteor Showers JSON</title>
		<link rel="stylesheet" href="clientstyle.css">
	</head>
	<body>
		<h1>METEOR SHOWER API</h1>
		<p>
			Please use the endpoint:
			<a href="https://meteor-shower-api.herokuapp.com/api"
				>https://meteor-shower-api.herokuapp.com/api</a
			>

			<p>
				API Returns an array of objects with the following schema: <section class="schemas">
					<div class="schema">
						<span class="column1">[0]{</span>
							<span class="column2">_id: 	"62ac0a95f10f12787c9b459e",</span>
						<span class="column2">name: "Lyrids",</span> <span class="column2">startDate: "April 14",</span> <span class="column2">endDate: "April 30",</span> <span class="column2">peakDate: 	"April 22",</span> <span class="column2">startMonthInt: "4", </span><span class="column2">startDayInt: "14", </span>
						<span class="column2">endMonthInt:	"4", </span><span class="column2">endDayInt: "30",</span>  <span class="column2">peakMonthInt:"1", </span><span class="column2">peakDayInt:"3", </span>  <span class="column2">speed: "49",</span> <span class="column2">zhr:"18", </span>
						<span class="column2">rating: 	"bright"</span><span class="column2">parentBody:	"C/1861 G1 (Thatcher)" </span> <span class="column1"> }</span>
					</div>
				</section>
				
				<span>ZHR = <a href="https://en.wikipedia.org/wiki/Zenithal_hourly_rate">Zenithal Hourly Rate</a></span>
			</p>
			<a href="https://meteor-shower-api.herokuapp.com/dev">Click For Dev Side</a>
		</p>
	</body>
</html>
